<div class = "basic-grey">
	<h1><%= t 'Seja bem vindo!'%></h1>
	<ul>	
		<li>
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"> - </span>
				<%= link_to "Tipos", kinds_path  %> 
		</li> <!--or "kind" or kind_path -->
		<li> 
			<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"> - </span>
				<%= link_to "Contatos", "contacts"%>
		</li><!--or "contacts" or contacts_path -->
	</ul>
</div>